/* */
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}


.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
}

div.connector:hover {
    transform: scale(1.4) !important;
    /* min-width: 12px !important;
    min-height: 12px !important; */
    /* background: #cdcdcd !important; */
}

.connector {
    background: transparent !important;
}

.dndflow aside {
    /* border-right: 1px solid #eee; */
    padding: 15px 10px;
    font-size: 75%;
    text-align: center;
    /* background: #fcfcfc; */
}

.dndflow aside .description {
    margin-bottom: 10px;
    text-align: center;
}

.dndflow .dndnode {
    /* height: 20px; */
    padding: 8px;
    border: 3px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.dndflow .dndnode.input {
    border-color: #c2410c;
}

.dndflow .dndnode.output {
    border-color: #ff0072;
}

.dndflow .dndnode.function {
    border-color: #0891b2;
}


.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 99%;
}

.dndflow .selectall {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .dndflow {
        flex-direction: row;
    }

    .dndflow aside {
        width: 12%;
        max-width: 250px;
    }
}

/* .react-flow {
    overflow: unset !important;
  } */

.customInputBox {
    width: 80%;
    margin: 4% 1%;
    border-color: transparent;
}

.custom-node__select {
    /* margin: 5px; */
    width: 100%;
    text-align: center;
}

.custom-node__select select {
    width: 100%;
    text-align: center;
    margin: 6% auto;
}

.custom-node__header {
    padding: 8px 10px;
    border-bottom: 1px solid #e2e8f0;
}

.titleBox {
    border: 0;
    margin: 6%;
    width: 80%;
    color: #fff;
    background: #1f2937;
}

input#text:focus-visible {
    outline: unset;
}

.react-flow__panel.react-flow__attribution.bottom.right {
    display: none;
}



.nodeTitle {
    margin: -1px;
    padding: 2% 4%;
    color: #fff;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 26px;
}

.nodeTitle.funcNode {
    background: #0891b2;
}

h4.nodeTitle.varNode {
    background: #c2410c;

}

/* .nodeTitle {
    margin: -1px;
    background: #0891b2;
    padding: 2%;
  } */

.flexProps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    font-size: 12px;
    background: #1f2937;
    color: #fff;
    flex-direction: column;
}

.inputStyler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    background: #1f2937;
    color: #fff;
}

.flexProps.varNode {
    border: 1px solid #c2410c;
}

.flexProps.funcNode {
    border: 1px solid #0891b2;
}

.BugFuncNode .nodeTitle.funcNode {
    background: red;
}

.BugFuncNode .flexProps.funcNode {
    border-color: red !important;
}

.bugNode .flexProps.varNode {
    border-color: red !important;
    background: red;
}

.text-updater-node {
    overflow: hidden;
    width: 200px;
    border-radius: 3px;
}

.ModalBox {
    background: #fff;
    /* padding: 1%; */
    width: 40%;
    border-radius: 1%;
    border: 1px solid #ccc;
    text-align: center;
}

.ModalTitle {
    margin: 0;
    line-height: 3;
    border-bottom: 1px solid rgb(229, 231, 235);
    margin-bottom: 2%;
    display: block !important;
    text-align: center;
    color: #000;
}



.overlayPosition {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /* background: #ccc;
    opacity: 0.9; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

textarea.textAreaSize {
    width: 95%;
    height: 350px;
    border: 1px solid #cdcdcd;
    background: #fff;
    color: #000;
}

.uploadSubmitButton {
    background: #2dd4bf;
    color: #fff;
    margin: 10px;
}

.uploadCancelButton {
    background-color: #f9f9f9;
    border: 1px solid #cdcdcd;
    background: #fff;
    color: #000;
}

.btnSize {
    width: 25%;
    margin-bottom: 3%;
}

.jsonError {
    color: red;
    font-size: 12px;
    margin: 0;
    text-align: left;
}

.jsonError.title {
    text-align: center;
    text-decoration: underline;
}

button.saveBtn {
    margin-right: 10px;
}

.react-flow__panel.top.right {
    margin: 1% 0;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.panelBtn {
    width: 45%;
    text-align: center;
    font-size: 88%;

}

.invalidMsg {
    font-size: 12px;
    color: red;
}

.dagNameBox {
    border: 1px solid #cdcdcd;
    margin: 2% 0;
    width: 80%;
    padding: 3%;
    border-radius: 5px;
    background: #fff;
    color: #000;
}

.copyBtn {
    position: absolute;
    right: 22px;
    top: 146px;
    width: 6%;
    cursor: pointer;
}

.jsonData {
    position: relative;
}

.sampleText {
    color: #000;
}

.dagNameSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2%;
    color: #000;
}

.clickHere {
    color: #0891b2;
    font-size: 21px;
    cursor: pointer;
}

.dagList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #000;
}

select#dagList {
    padding: 2%;
    width: 60%;
    border: 1px solid #cdcdcd;
    margin: 2%;
    background: #fff;
    color: #000;
}

.DND {
    width: 100%;
}

.reactflow-sideBar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 11.7vh);
}

@media only screen and (max-width: 767px) {

    /* CSS rules for mobile devices */
    .react-flow__panel.top.right {
        margin: 3% 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .ModalBox {
        width: 90%;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* CSS rules for tablet devices */
    .react-flow__panel.top.right {
        margin: 1% 0;
        width: 32%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .ModalBox {
        width: 50%;
    }
}

/* ========================= DAG V2.0 starts========================= */

section.handlers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

.handlerText {
    margin: 2px 0px;
    font-size: 9px;
}

.resultEdger {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.funcNode .react-flow__handle-left,
.funcNode .react-flow__handle-right {
    top: auto !important;
    transform: unset !important
}

.addNode {
    border: 1px solid #6b7280;
    color: #fff;
    overflow: hidden;
    width: 200px;
    border-radius: 3px;
    margin: 0 auto;
    background: #1f2937;
}

.titleAddNode {
    background: #6b7280;
    margin: 0;
}

select#funcLists {
    width: 90%;
    margin: 3%;
    background: #1f2937;
    color: #fff;
}

.selectedFuncNode {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.Spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Spinner .MuiCircularProgress-indeterminate {
    width: 15px !important;
    height: 15px !important;
}

.react-flow__handle.connectionindicator {
    width: 0 !important;
    height: 0 !important;
    border-top: 6px solid transparent !important;
    border-left: 12px solid #fff !important;
    border-bottom: 6px solid transparent !important;
    border-radius: unset !important;
    min-width: unset !important;
    min-height: unset !important;
    border: unset;
}

.varNode .react-flow__handle-left,
.varNode .react-flow__handle-right {
    top: 40% !important;
    transform: unset !important
}


/* ========================= DAG V2.0 Ends========================= */


/* ========================= Index.css ========================= */


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

.suggestion-list {
    max-height: 400px;
    overflow-x: auto;
    text-align: left;
    padding: 0 10px;
}

input#funcLists {
    background: transparent;
    border: 2px solid #fff;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    border-radius: 10px;
}

.layoutToggle {
    /* display: flex !important; */
    /* justify-content: right !important; */
    /* position: absolute !important; */
    right: 10px;
    z-index: 99;

}

.buttonLayoutToggle {
    background-color: red;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 30%;
    color: #fff;
    /* color: red; */
}

.splitter-layout {
    /* width: 98% !important; */
    height: 99% !important;
    position: relative !important;
}

#a_unique_id {
    text-align: left;
}


.json-area {
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    border-color: #ccc;
    font-size: 13px;
    line-height: 16px;
    width: calc(100% - 10%);
    color: black;
    height: calc(100vh - 26vh);

}

.textarea-wrapper {
    display: inline-block;
    background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%);
    background-size: 100% 32px;
    background-position: left 10px;
    margin-top: 10px;
    width: 95%;
    text-align: left;
}

.json-editor {
    padding: 2%;
}

.box-content-json {
    position: sticky;
    top: 0;
    z-index: 9;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.splitter-layout .layout-pane.layout-pane-primary {
    display: flex !important
}