#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 8px;
  /* text-align: center; */
  display: flex;
  /* justify-content: space-between; */
  align-items: top;
  width: 100%;
}

.navBar {
  height: calc(100vh - 1vh);
  position: sticky;
  left: 0;
  top: 0;
  width: 16%;
  border-right: 1px solid #cdcdcd;
}

/* .activeLink {

  border-left: 5px solid #3db5fe !important;
} */

.navText {
  color: #000;
}

.activeLink .navText {
  color: #3db5fe !important;
  font-weight: 800;
}

.activeLink svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
  fill: #3db5fe !important;
}

.activeLink .MuiTypography-root {
  font-weight: 700;
}

.MuiListItem-padding {
  border-bottom: 1px solid #cdcdcd !important;
}

.MuiListItem-padding:hover {
  background-color: #dcf2ff !important;
  color: #3db5fe !important;
  /* border-bottom: 1px solid #cdcdcd !important; */
}

ul.MuiList-root.MuiList-padding {
  padding-top: 0;
}

.MuiListItem-padding:first-child {
  border-top: 1px solid #cdcdcd !important;
}

.errorMessage {
  margin-top: 8px;
}

.capitalize {
  text-transform: capitalize;
}

.outlets {
  width: 95%;
  margin-top: 64px;
  height: calc(100vh - 13vh);
  /* padding-left: 10px; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.MuiTabs-root.MuiTabs-vertical {
  overflow: unset !important;
  position: sticky;
  left: 0;
  z-index: 999;
  background: #fff;
}

div[role="tabpanel"] {
  width: 100%;
  height: 100%;
}

/* ======================= DAG Builder CSS Starts here  =======================*/

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.connector:hover {
  min-width: 12px !important;
  min-height: 12px !important;
  background: #cdcdcd !important;
}

.connector {
  width: 10px !important;
  height: 10px !important;
  background: #1f2937 !important;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 75%;
  text-align: center;
  /* background: #fcfcfc; */
}

.dndflow aside .description {
  margin-bottom: 10px;
  text-align: center;
}

.dndflow .dndnode {
  /* height: 20px; */
  padding: 8px;
  border: 3px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #c2410c;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .dndnode.function {
  border-color: #0891b2;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 12%;
    max-width: 250px;
  }
}

/* .react-flow {
  overflow: unset !important;
} */

.customInputBox {
  width: 80%;
  margin: 4% 1%;
  border-color: transparent;
}

.custom-node__select {
  /* margin: 5px; */
  width: 90%;
  text-align: center;
}

.custom-node__select select {
  width: 90%;
}

.custom-node__header {
  padding: 8px 10px;
  border-bottom: 1px solid #e2e8f0;
}

.titleBox {
  border: 0;
  margin: 6%;
  width: 80%;
  color: #fff;
  background: #1f2937;
}

input#text:focus-visible {
  outline: unset;
}

.react-flow__panel.react-flow__attribution.bottom.right {
  display: none;
}

.nodeTitle {
  margin: -1px;
  padding: 2% 4%;
  color: #fff;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 26px;
}

.nodeTitle.funcNode {
  background: #0891b2;
}

h4.nodeTitle.varNode {
  background: #c2410c;
}

/* .nodeTitle {
  margin: -1px;
  background: #0891b2;
  padding: 2%;
} */

.flexProps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  font-size: 12px;
  background: #1f2937;
  color: #fff;
  flex-direction: column;
}

.inputStyler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  background: #1f2937;
  color: #fff;
}

.flexProps.varNode {
  border: 1px solid #c2410c;
}

.flexProps.funcNode {
  border: 1px solid #0891b2;
}

.BugFuncNode .nodeTitle.funcNode {
  background: red;
}

.BugFuncNode .flexProps.funcNode {
  border-color: red !important;
}

.bugNode .flexProps.varNode {
  border-color: red !important;
  background: red;
}

.text-updater-node {
  overflow: hidden;
  width: 200px;
  border-radius: 3px;
}

.ModalBox {
  background: #fff;
  /* padding: 1%; */
  width: 40%;
  border-radius: 1%;
  border: 1px solid #ccc;
  text-align: center;
}

.ModalTitle {
  margin: 0;
  line-height: 3;
  border-bottom: 1px solid rgb(229, 231, 235);
  margin-bottom: 2%;
  display: block !important;
  text-align: center;
}

.overlayPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  /* background: #ccc;
  opacity: 0.9; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

textarea.textAreaSize {
  width: 95%;
  height: 350px;
  border: 1px solid #cdcdcd;
  background: #fff;
  color: #000;
}

.uploadSubmitButton {
  background: #2dd4bf;
  color: #fff;
  margin: 10px;
}

.uploadCancelButton {
  background-color: #f9f9f9;
  border: 1px solid #cdcdcd;
  background: #fff;
  color: #000;
}

.btnSize {
  width: 25%;
  margin-bottom: 3%;
}

p.jsonError {
  color: red;
  font-size: 12px;
  margin: 0;
}

button.saveBtn {
  margin-right: 10px;
}

.react-flow__panel.top.right {
  margin: 1% 0;
  width: 20%;
}

button.panelBtn {
  width: 45%;
  text-align: center;
  font-size: 88%;
}

.invalidMsg {
  font-size: 12px;
  color: red;
}

.dagNameBox {
  border: 1px solid #cdcdcd;
  margin: 2% 0;
  width: 80%;
  padding: 3%;
  border-radius: 5px;
  background: #fff;
  color: #000;
}

.copyBtn {
  position: absolute;
  right: 22px;
  top: 146px;
  width: 6%;
  cursor: pointer;
}

.jsonData {
  position: relative;
}

.dagNameSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
}

.clickHere {
  color: #0891b2;
  font-size: 21px;
  cursor: pointer;
}

.dagList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

select#dagList {
  padding: 2%;
  width: 60%;
  border: 1px solid #cdcdcd;
  margin: 2%;
  background: #fff;
  color: #000;
}

.DND {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  /* CSS rules for mobile devices */
  .react-flow__panel.top.right {
    margin: 3% 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .ModalBox {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* CSS rules for tablet devices */
  .react-flow__panel.top.right {
    margin: 1% 0;
    width: 32%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .ModalBox {
    width: 50%;
  }
}

/* ======================= DAG Builder CSS Ends here  =======================*/

/* ======================= Data Visualization CSS Starts here  =======================*/
.chartParent {
  position: relative;
  /* border: 1px solid #eaeaea;
  background-color: #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); */
  margin-bottom: 20px;
  width: 100%;
  /* max-width: 1/2; */
}

.chartArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #eaeaea;
  /* background-color: #ccc; */
  margin-top: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.loadMoreButton {
  position: absolute;
  top: 10px;
  right: 10px;
  /* border-color: #ccc; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background: #3db5fe;
  color: #fff;
}

.FormSection {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* align-items: center; */
  width: 100%;
}

@media only screen and (max-width: 767px) {
  /* CSS rules for mobile devices */
  section.storeViewerLayout {
    width: 100%;
  }

  section.topLayout {
    top: 500px;
  }
}

@media only screen and (max-width: 767px) {
  /* CSS rules for mobile devices */
  .getSessionIdBox {
    width: 300px !important;
    margin-right: 10px !important;
  }
}

@media only screen and (min-width: 768px) {
  /* CSS rules for tablet devices */
  .getSessionIdBox {
    width: 450px !important;
    margin-right: 10px !important;
  }
}

/* ======================= Data Visualization CSS Ends here  =======================*/

/* ======================= Data Table CSS Starts here  =======================*/

table {
  scroll-behavior: smooth;
}

section.outlets.DataTable {
  padding-left: 10px;
}

.resizer {
  display: inline-block;
  background: #ccc;
  width: 10px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
}

.resizer.isResizing {
  background: #ccc;
}

tr.highlightMe {
  background: #ccc !important;
}

p.colorBox {
  width: 25px;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
  height: 25px;
}

main.mainTableView {
  display: flex;
  justify-content: space-between;
}

.columnToggler {
  width: 20%;
  position: sticky;
  top: 0;
  text-align: center;
  height: 60vh;
}

.columnName label {
  display: flex;
  align-items: center;
}

.columnName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .ModalTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: unset;
} */

.disabledSorting {
  opacity: 0.5;
}

p.lineInfo {
  margin: 1% 1% 0;
  font-size: 14px;
}

.MuiTable-stickyHeader thead {
  position: sticky !important;
  top: 0;
  z-index: 99;
  background: #fff;
}

.css-apqrd9-MuiTableBody-root {
  text-align: left;
}

.Mui-TableHeadCell-Content-Labels {
  text-transform: capitalize;
}

.row-expand {
  display: flex;
  justify-content: space-between;
  /* width: 25%; */
  text-align: left;
  border: 1px solid #ccc;
  flex-direction: column;
  padding: 10px;
}

/* ======================= Data Table CSS Ends here  =======================*/

/* ======================= StoreView CSS starts here  =======================*/

.MuiCollapse-wrapperInner {
  position: relative;
}

.MuiTreeItem-content.Mui-selected:hover {
  background-color: #dcf2ff !important;
}

.MuiTreeItem-content.Mui-selected {
  background-color: unset !important;
}

/* .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl {
  height: 32px;
  padding: 8px !important;
} */

section.topLayout {
  position: sticky;
  top: 64px;
  background: #fff;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #cdcdcd;
  width: 100%;
}

section.renderNodes {
  /* padding: 16px 24px !important; */
  /* border-bottom: 1px solid #D6D6D6; */
}

button.copy + .MuiTreeItem-root {
  border-bottom: 1px solid #d6d6d6;
  padding: 8px !important;
}

.renderNodes li > div.MuiTreeItem-content {
  padding: 4px !important;
}

.sessionIdBox {
  width: 35% !important;
}

section.storeViewerLayout {
  width: 40%;
}

button.copy {
  position: absolute;
  right: 0;
  z-index: 999;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  top: 12px;
}

main.mainArea {
  height: auto;
  vertical-align: top;
  /* display: inline-grid; */
}

.MuiSvgIcon-root:focus,
button.copy:focus {
  outline: unset !important;
}

@media only screen and (max-width: 767px) {
  /* CSS rules for mobile devices */
  section.storeViewerLayout {
    width: 100%;
  }

  section.topLayout {
    top: 56px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* CSS rules for tablet devices */
  section.storeViewerLayout {
    width: 100%;
  }

  section.topLayout {
    top: 56px;
  }
}

/* ======================= StoreView CSS Ends here  =======================*/

.common-Error-Msg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.ReturnBtn {
  background: transparent
    linear-gradient(0deg, #393939 0%, #5d6364 0%, #000000 100%) 0% 0% no-repeat
    padding-box;
  opacity: 1;
  border-radius: 10px;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 85%;
  font-weight: bold;
  padding: 1%;
  border: 0;
}

/* .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  width: 100% !important;
} */
