.main-json-fiddle{
    text-align: left;
    .center{
        margin: 1% 0;
    }
    .inputs-fiddle{
        margin: 1% 0;
    }

    .autoComplete-Dropdown {
        width: 25%;
    }
    .splitter-layout {
        width: 95% !important;
    }
    
    .jsonFiddle {
        display: flex;
        .fiddle-left-side{
            .layout-common{
                margin-bottom: 1%;
                main{
                    border: 1px solid #ccc;
                }
            }
        }

        .fiddle-right-side {
            padding: 0 2%;
        }
    }

    @media screen and (max-width: 768px) {
    .jsonFiddle {
        .fiddle-right-side {
            margin-top: 3%;
        }
    }
    
        .autoComplete-Dropdown{
            width: 100%;
        }
    }
}

/* Scroll Bar Style Starts here */
/* width */
/* For both x-axis and y-axis */
::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
    height: 5px;
    /* Height of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Track background color */
}

/* Handle for y-axis */
::-webkit-scrollbar-thumb {
    background: #6b7280;
    /* Handle background color for y-axis */
}

/* Handle for x-axis */
::-webkit-scrollbar-thumb:horizontal {
    background: #6b7280;
    /* Handle background color for x-axis */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Handle background color on hover */
}


/* Scroll Bar Style Ends here */