:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

table {

  scroll-behavior: smooth;
}

.resizer {
  display: inline-block;
  background: #ccc;
  width: 10px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
}

.resizer.isResizing {
  background: #ccc;
}

tr.highlightMe {
  background: #ccc !important;
}

p.colorBox {
  width: 25px;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
  height: 25px;
}

main.mainTableView {
  display: flex;
  justify-content: space-between;
}

.columnToggler {
  width: 20%;
  position: sticky;
  top: 0;
  text-align: center;
  height: 60vh;
}

.columnName label {
  display: flex;
  align-items: center;
}


.columnName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ModalTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: unset;
}

.disabledSorting {
  opacity: 0.5;
}

p.lineInfo {
  margin: 1% 1% 0;
  font-size: 14px;
}

.MuiTable-stickyHeader thead {
  position: sticky !important;
  top: 0;
  z-index: 99;
  background: #fff;
}



.css-apqrd9-MuiTableBody-root {
  text-align: left;
}

.Mui-TableHeadCell-Content-Labels {
  text-transform: capitalize;
}

.row-expand {
  display: flex;
  justify-content: space-between;
  width: 25%;
  text-align: left;
  flex-direction: column;
}