* {
    box-sizing: border-box;
}

.wrapper {
    width: 100% !important;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    /* overflow: auto; */
}




.chart-bg-container {
    position: relative;
    border: 1px solid #070707;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 1px;
    width: 100%;
    height: 100%;
}

.load-more-button {
    position: absolute;
    top: 10px;
    right: 10px;
    /* border-color: #ccc; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background: #3db5fe;
    color: #fff;
}

.single-xaxis-bg-container {
    width: 100%;
    height: 95vw;
    /* border: 2px solid green; */
}

.single-xaxis-bg-container {
    width: 100%;
    height: 99%;
    border: 1px solid black;
}