#root {
  max-width: 1980px;
  margin: 0 auto;
  padding: 0rem 1rem;
  text-align: center;
  width: 100%;
  height: 99vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  /* background: #fcfcfc; */
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 3px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #c2410c;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .dndnode.function {
  border-color: #0891b2;
}


.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 12%;
    max-width: 250px;
  }
}

/* .react-flow {
  overflow: unset !important;
} */

.customInputBox {
  width: 80%;
  margin: 4% 1%;
  border-color: transparent;
}

.custom-node__select {
  /* margin: 5px; */
  width: 90%;
}

.custom-node__select select {
  width: 90%;
}

.custom-node__header {
  padding: 8px 10px;
  border-bottom: 1px solid #e2e8f0;
}

.titleBox {
  border: 0;
  margin: 6%;
  width: 80%;
  color: #fff;
  background: #4b5563;
}

input#text:focus-visible {
  outline: unset;
}

.react-flow__panel.react-flow__attribution.bottom.right {
  display: none;
}



.nodeTitle {
  margin: -1px;
  padding: 2%;
  color: #fff;
}

.nodeTitle.funcNode {
  background: #0891b2;
}

h4.nodeTitle.varNode {
  background: #c2410c;

}

/* .nodeTitle {
  margin: -1px;
  background: #0891b2;
  padding: 2%;
} */

.flexProps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8%;
  font-size: 12px;
  background: #1f2937;
  color: #fff;
}

.flexProps.varNode {
  border: 1px solid #c2410c;
}

.flexProps.funcNode {
  border: 1px solid #0891b2;
}

.text-updater-node {
  overflow: hidden;
  width: 200px;
}

.ModalBox {
  background: #fff;
  /* padding: 1%; */
  width: 40%;
  border-radius: 1%;
}

.ModalTitle {
  margin: 0;
  line-height: 3;
  border-bottom: 1px solid rgb(229, 231, 235);
  margin-bottom: 2%;
}



.overlayPosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  /* background: #ccc;
  opacity: 0.9; */
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea.textAreaSize {
  width: 95%;
  height: 350px;
  border: 1px solid rgb(229, 231, 235);
}

.uploadSubmitButton {
  background: #2dd4bf;
  color: #fff;
  margin: 10px;
}

.uploadCancelButton {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.btnSize {
  width: 25%;
}

p.jsonError {
  color: red;
  font-size: 12px;
  margin: 0;
}

button.saveBtn {
  margin-right: 10px;
}

.react-flow__panel.top.right {
  margin: 1% 0;
  width: 24%;
}

button.panelBtn {
  width: 35%;
  text-align: center;
}