
.MuiCollapse-wrapperInner {
    position: relative;
}

.MuiTreeItem-content.Mui-selected:hover {
    background-color: #DCF2FF !important;
}

.MuiTreeItem-content.Mui-selected {
    background-color: unset !important;
}

/* .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl {
    height: 32px;
    padding: 8px !important;
  } */

section.topLayout {
    position: sticky;
    top: 0px;
    background: #fff;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #cdcdcd;
    width: 100%;
}

section.renderNodes {
    /* padding: 16px 24px !important; */
    /* border-bottom: 1px solid #D6D6D6; */
}

button.copy+.MuiTreeItem-root {
    border-bottom: 1px solid #D6D6D6;
    padding: 8px !important;

}

.renderNodes li>div.MuiTreeItem-content {
    padding: 4px !important;
}

/* .sessionIdBox {
    width: 35% !important;
  } */

/* section.storeViewerLayout {
    width: 40%;
  } */

button.copy {
    position: absolute;
    right: 0;
    z-index: 999;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    top: 12px
}

main.mainArea {
    height: auto;
    vertical-align: top;
    /* display: inline-grid; */
}

.MuiSvgIcon-root:focus,
button.copy:focus {
    outline: unset !important;
}

@media only screen and (max-width: 767px) {

    /* CSS rules for mobile devices */
    section.storeViewerLayout {
        width: 100%;
    }

    section.topLayout {
        top: 0;
    }

    #root {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* CSS rules for tablet devices */
    section.storeViewerLayout {
        width: 100%;
    }

    section.topLayout {
        top: 0;
    }

    #root {
        width: 100%;
    }
}


.Mui-expanded+div,
.Mui-expanded {
    background: #fff;
    z-index: 999999;
    position: relative;
}

